@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
@import "./variables";
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: black;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
a,
p,
span {
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fa-circle-notch {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  animation: spinner 1s linear infinite;
  font-size: 3rem;
}
