<template>
  <div class="spinner" v-if="loading">
    <i class="fas fa-circle-notch"></i>
  </div>
  <div class="locations" v-else>
    <h2>Our addresses</h2>
    <div class="address" v-for="restaurant in restaurants" :key="restaurant.id">
      <h3>{{ restaurant.name }}</h3>
      <p>{{ restaurant.address1 }}</p>
      <p>{{ restaurant.address2 }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Locations",
  components: {},
  data() {
    return {};
  },

  methods: {
    async getRestaurants() {
      await this.$store.dispatch("getRestaurants");
    },
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    },
    restaurants() {
      return this.$store.state.restaurants;
    },
  },
  async mounted() {
    await this.getRestaurants();
  },
};
</script>

<style lang="scss" scoped>
.locations {
  margin: 0 auto;
  max-width: 30%;
  h2 {
    padding: 1.5rem 0;
    text-align: center;
  }
  .address {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
