<template>
  <div class="menu">
    <div class="menu__nav">
      <div class="categories">
        <h3>Categories</h3>
        <a
          href="#"
          v-scroll-to="'#' + category"
          class="category"
          v-for="category in categories"
          :key="category"
          disabled
          >{{ category }}</a
        >
      </div>
    </div>

    <div class="menu__section">
      <div class="spinner" v-if="isLoading">
        <i class="fas fa-circle-notch"></i>
      </div>

      <div class="menu__subsection" v-else>
        <h2 id="Pizza">Pizza</h2>
        <div class="menu__item">
          <menu-card v-for="menu in pizzaOnly" :key="menu.id" :menu="menu" />
        </div>

        <h2 id="Dryck">Drinks</h2>
        <div class="menu__item">
          <menu-card v-for="menu in drinkOnly" :key="menu.id" :menu="menu" />
        </div>

        <h2 id="Tillbehör">Tillbehor</h2>
        <div class="menu__item">
          <menu-card
            v-for="menu in tillbehorOnly"
            :key="menu.id"
            :menu="menu"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MenuCard from "../components/MenuCard.vue";

export default {
  name: "Menu",
  components: {
    MenuCard,
  },
  data() {
    return {};
  },

  methods: {
    async getMenu() {
      await this.$store.dispatch("getMenu");
    },

    GET_PIZZA_ONLY() {
      this.$store.commit("GET_PIZZA_ONLY");
    },

    GET_DRINKS_ONLY() {
      this.$store.commit("GET_DRINKS_ONLY");
    },

    GET_TILLBEHOR_ONLY() {
      this.$store.commit("GET_TILLBEHOR_ONLY");
    },
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },

    isLoading() {
      return this.$store.state.isLoading;
    },

    pizzaOnly() {
      return this.$store.state.pizzaOnly;
    },
    drinkOnly() {
      return this.$store.state.drinkOnly;
    },
    tillbehorOnly() {
      return this.$store.state.tillbehorOnly;
    },
  },

  async mounted() {
    await this.getMenu();
    this.GET_PIZZA_ONLY();
    this.GET_DRINKS_ONLY();
    this.GET_TILLBEHOR_ONLY();
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";

.menu {
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
  overflow: hidden;

  &__nav {
    text-transform: uppercase;
    margin-top: 3.2rem;
    margin-left: 1rem;
    .hits {
      font-weight: bold;
    }
    .categories {
      .category {
        display: block;
      }
    }
  }

  &__section {
    color: #fff;

    h2 {
      margin: 3rem 0 1rem 0;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    row-gap: 2rem;
    column-gap: 3rem;
  }
}
</style>
