<template>
  <div class="container">
    <div class="order">
      <h3>Delivery</h3>
      <search @onTyping="filterRestaurants" />
      <div class="spinner" v-if="loading">
        <i class="fas fa-circle-notch"></i>
      </div>
      <div class="restaurants" v-else>
        <div v-if="query === ''">
          <restaurant
            v-for="restaurant in restaurants"
            :key="restaurant.id"
            :restaurant="restaurant"
          />
        </div>

        <restaurant
          v-else
          v-for="restaurant in filteredRestaurants"
          :key="restaurant.id"
          :restaurant="restaurant"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Restaurant from "../components/Restaurant.vue";
import Search from "../components/Search.vue";

export default {
  name: "Order",
  components: { Restaurant, Search },
  data() {
    return {
      query: "",
      filteredRestaurants: [],
    };
  },

  methods: {
    async getRestaurants() {
      await this.$store.dispatch("getRestaurants");
    },

    filterRestaurants(queryWord) {
      this.query = queryWord;

      var filtered = this.restaurants.filter(
        (restaurant) =>
          queryWord
            .toLowerCase()
            .split(" ")
            .every((v) => restaurant.name.toLowerCase().includes(v)) ||
          queryWord
            .toLowerCase()
            .split(" ")
            .every((v) => restaurant.address1.toLowerCase().includes(v)) ||
          queryWord
            .toLowerCase()
            .split(" ")
            .every((v) => restaurant.address2.toLowerCase().includes(v))
      );
      this.filteredRestaurants = filtered;
    },
  },

  computed: {
    loading() {
      return this.$store.state.loading;
    },
    restaurants() {
      return this.$store.state.restaurants;
    },
  },

  async mounted() {
    await this.getRestaurants();
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";

.container {
  min-width: 100%;
  height: 100vh;
  background: #000;
}

h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2.5rem;
  font-size: 1.6rem;
}

.order {
  margin: 0 auto;
  max-width: 40rem;

  input {
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    width: calc(100% - 1rem);
  }
}
</style>
