<template>
  <div class="wrapper">
    <template v-if="isCartEmpty">
      <h2>Review order</h2>

      <p class="subheading">your order</p>
      <div
        class="cart"
        v-for="item in cart"
        :key="item.product.id"
        :item="item"
      >
        <h3>{{ item.product.name }}</h3>
        <p>
          {{ item.product.topping ? item.product.topping.join(" ") : null }}
        </p>
        <button @click="decreaseQuantity(item)" class="changeQuantity">
          <i class="fas fa-minus-circle"></i>
        </button>
        <span class="quantity">{{ item.quantity }}</span>
        <button @click="increaseQuantity(item)" class="changeQuantity">
          <i class="fas fa-plus-circle"></i>
        </button>
        <p>${{ item.product.price }}</p>
      </div>
      <p class="total">
        <span>Total</span>
        <strong> ${{ cartPriceTotal }} </strong>
      </p>
      <div class="checkout">
        <button class="checkout__btn" @click="showModal = true">
          checkout
        </button>
      </div>
    </template>
    <h3 v-else style="text-align: center">Your cart is empty</h3>
  </div>
  <modal v-if="showModal" @close="showModal = false" />
</template>

<script>
import { mapState } from "vuex";
import Modal from "./Modal.vue";

export default {
  components: { Modal },
  name: "Cart",
  data() {
    return {
      item: [],
      showModal: false,
    };
  },
  methods: {
    completeOrder() {
      this.$store.dispatch("postOrder");
      console.log("it is successful");
    },

    async checkForToppingsLength() {
      this.$store.dispatch("checkForToppingsLength", this.item);
    },

    increaseQuantity(item) {
      this.$store.commit("ADD_TO_CART", {
        product: item.product,
        quantity: 1,
      });
    },

    decreaseQuantity(item) {
      this.$store.commit("DELETE_FROM_CART", {
        product: item.product,
        quantity: 1,
      });
    },
  },
  computed: {
    cart() {
      return this.$store.getters.cart;
    },

    cartPriceTotal() {
      return this.$store.getters.cartPriceTotal;
    },

    isCartEmpty() {
      if (this.cart.length === 0) {
        return false;
      } else {
        return true;
      }
    },

    ...mapState(["hasToppings", "toppings"]),
  },

  watch: {},

  async mounted() {
    await this.checkForToppingsLength();
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";

.wrapper {
  padding-top: 4rem;
  padding-bottom: 8rem;
  max-width: 40%;
  margin: 0 auto;
  h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 3px solid white;
  }

  .subheading {
    padding: 0;
  }

  .total {
    border-top: 3px solid white;
    display: flex;
    justify-content: space-between;
  }

  .checkout {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $blue;
    display: flex;
    justify-content: center;
    padding: 8px;
    &__btn {
      font-size: 1rem;
      font-weight: 900;
      background: black;
      color: white;
      text-transform: uppercase;
      border: 0;
      border-radius: 25px;
      padding: 8px;
      cursor: pointer;
      min-width: 9rem;
    }
  }

  .cart {
    padding: 1.2rem;
    h3 {
      padding-top: 1rem;
      padding-bottom: 0.4rem;
    }

    .quantity {
      padding: 0 10px;
    }

    .changeQuantity {
      border: 0;
      background: transparent;
      cursor: pointer;
      .fas {
        color: white;
        background: black;
        border-radius: 50%;
        font-size: 1rem;
      }
    }
  }
}
</style>
