<template>
  <h2>Product</h2>
  <p>Name: {{ product.name }}</p>
  <p>Category: {{ product.category }}</p>
  <p>Toppings: {{ product.topping ? product.topping.join(" ") : null }}</p>
</template>

<script>
export default {
  name: "MenuCardWithMoreInfo",
  computed: {
    product() {
      let productName = this.$route.params.productName;
      console.log(productName);
      let theProduct = this.$store.state.menuData.find(
        (product) => (product.name = productName)
      );
      return theProduct;
      // let theProduct = this.$store.state.menuData.all.find(
      // (product) => product.name === productName
      // );
      // return theProduct;
    },
  },
};
</script>

<style></style>
