<template>
  <div class="card">
    <img
      src="https://andpizza.com/wp-content/uploads/2021/01/atmedontsubme-340x510.jpg"
      alt="image"
      class="card__img"
      @click="toggleClass"
    />

    <div class="card__footer">
      <p class="card__name">{{ menu.name }}</p>

      <span v-if="menu.price !== 0">${{ menu.price }}</span>
      <span v-else>FREE</span>

      <button class="btn-plus" @click="addToCart">
        <i v-if="isAdding" class="fas fa-check"></i>
        <i v-else class="fas fa-plus"></i>
      </button>

      <button class="btn-arrow" @click="toggleClass">
        <i class="fas fa-chevron-down" v-if="isActive"></i>
        <i class="fas fa-chevron-up" v-else></i>
      </button>
    </div>

    <div
      class="card__description"
      :class="{ show: isActive }"
      @click="toggleClass"
    >
      <h2>{{ menu.name }}</h2>
      <h4>Category</h4>
      <p>{{ menu.category }}</p>
      <h4 v-if="hasToppings">Toppings</h4>
      <p>{{ menu.topping ? menu.topping.join(" ") : null }}</p>
      <h4>Price</h4>
      <p v-if="menu.price !== 0">${{ menu.price }}</p>
      <p v-else>FREE</p>
      <router-link :to="'/menu/' + menu.name" class="btn-more"
        >More</router-link
      >
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "MenuCard",
  props: {
    menu: Object,
  },

  data() {
    return {
      isActive: false,
      isAdding: false,
    };
  },

  methods: {
    toggleClass() {
      this.isActive = !this.isActive;
    },

    async checkForToppingsLength() {
      this.$store.dispatch("checkForToppingsLength", this.menu.topping);
    },

    addToCart() {
      this.isAdding = true;
      this.$store.dispatch("addProductToCart", {
        product: this.menu,
        quantity: 1,
      });
      setTimeout(() => {
        this.isAdding = false;
      }, 300);
    },

    computed: mapState(["hasToppings", "toppings"]),
  },

  async mounted() {
    await this.checkForToppingsLength();
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";

.card {
  border-radius: 15px;
  box-shadow: $blue 0px 2px 8px 0px;
  transition: box-shadow 0.3s ease-in;
  overflow: hidden;
  position: relative;
  z-index: 4;

  &:hover {
    box-shadow: $blue 0px 5px 15px;
    transition: box-shadow 0.3s ease-in;
  }

  &__img {
    border-radius: 15px;
    cursor: pointer;
    width: 340px;
  }

  &__footer {
    background: $blue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .btn-plus {
      font-weight: 900;
      text-transform: uppercase;
      background: black;
      color: $blue;
      border: 0;
      border-radius: 25px;
      cursor: pointer;
      padding: 2px 15px;
    }

    span {
      padding-left: 3rem;
      color: black;
      font-weight: bold;
    }
  }

  &__name {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__description {
    padding: 2rem 1rem;
    position: absolute;
    transform: translateY(0);
    transition: transform 0.4s ease-in;
    background: black;
    width: 310px;
    height: 100%;
    z-index: 2;

    h4 {
      color: $blue;
    }
    h2,
    p {
      color: $blue;
      margin-bottom: 10px;
    }

    .btn-more {
      color: black;
      transition: transform 0.4s ease;
      font-size: 1.4rem;
      font-weight: 900;
      text-transform: uppercase;
      background: $blue;
      border: 0;
      border-radius: 25px;
      padding: 8px;
      position: absolute;
      bottom: 80px;
      cursor: pointer;
      z-index: 7;
    }
  }

  .show {
    transform: translateY(-575px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .btn-arrow {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  .fa-chevron-down {
    color: $blue;
  }
}
</style>
