<template>
  <nav id="nav">
    <div class="logo">
      <router-link to="/home">
        <img class="logo__img" src="../assets/Pizza-logo.png" alt="logo" />
      </router-link>
    </div>

    <div class="links">
      <router-link to="/order" class="link__order">Order</router-link>

      <router-link class="link" to="/menu">Menu</router-link>
      <router-link class="link" to="/locations">Locations</router-link>
      <router-link class="link" to="/cart">
        <i class="fas fa-shopping-cart"></i>
        <div class="cart-status" v-show="cartItemCount > 0">
          {{ cartItemCount }}
        </div>
      </router-link>
    </div>
  </nav>
</template>

<script>
// import { mapGetters } from "vuex";

export default {
  name: "Nav",

  data() {
    return {};
  },

  computed: {
    cartItemCount() {
      return this.$store.getters.cartItemCount;
    },
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";

.router-link-active {
  color: $blue;
}

#nav {
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background: black;
  border-bottom: 2px solid $blue;

  .logo {
    &__img {
      max-width: 3.5rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    min-width: 28rem;
    font-size: 1.6rem;

    .link {
      text-decoration: none;
      font-weight: bold;
      margin-left: 0.4rem;
      position: relative;

      &__order {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.6rem;
      }

      .cart-status {
        padding: 0 4px;
        color: white;
        background: red;
        border-radius: 50%;
        font-size: 10px;
        position: absolute;
        right: -3px;
        top: -5px;
      }
    }
  }
}
</style>
