<template>
  <div class="restaurant">
    <p class="name">{{ restaurant.name }}</p>
    <p class="address">{{ restaurant.address1 }}</p>
    <p class="address">{{ restaurant.address2 }}</p>
    <p class="timetable">Monday: 11:00 am - 9:00 pm</p>
    <p class="timetable">Wednesday - Sunday: 11:00 am - 9:00 pm</p>
    <div class="button">
      <router-link
        to="/menu"
        class="btn"
        @click="getRestaurantId(restaurant.id)"
        >Start order</router-link
      >
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "Restaurant",
  props: {
    restaurant: Object,
  },

  methods: {
    getRestaurantId(id) {
      this.$store.state.restaurantID = id;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_variables.scss";

.restaurant {
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  background: $blue;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1.6;

  p {
    color: black;
  }

  .name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .button {
    position: relative;
    margin-top: 10px;

    .btn {
      border: 0;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      background: black;
      padding: 0.2rem 1.5rem;
      padding-right: 2rem;
    }

    .fa-angle-right {
      color: white;
      position: absolute;
      left: 125px;
      top: 5px;
    }
  }
}
</style>
