<template>
  <div class="wrapper">
    <button class="scroll-btn" v-scroll-to="'#nav'">
      <i class="fas fa-arrow-circle-up"></i>
    </button>
  </div>
</template>

<script>
export default {
  name: "ScrollButton",
  methods: {},
  watch: {
    trackScrollPosition() {
      console.log(window.pageYOffset);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/base/_global.scss";
@import "../sass/base/_variables.scss";
.wrapper {
  width: 100%;
  position: fixed;
  right: 100px;
  bottom: 70px;
  display: flex;
  justify-content: flex-end;
  .scroll-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    .fas {
      font-size: 3rem;
      background: $blue;
      color: black;
      border-radius: 50%;
    }
  }
}
</style>
