<template>
  <input
    type="text"
    class="search"
    placeholder="Search name, address"
    v-model="queryWord"
    @input="$emit('onTyping', $event.target.value)"
  />
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      queryWord: "",
    };
  },
};
</script>

<style lang="scss" scoped>
.search {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  padding: 1rem 0;
  padding-left: 1rem;
  border: 0;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: black;
    opacity: 1;
  }
}
</style>
