<template>
  <div>
    <Nav />
    <router-view></router-view>
    <scroll-button v-show="isScrolling" />
  </div>
</template>

<script>
import Nav from "./components/Nav.vue";
import ScrollButton from "./components/ScrollButton.vue";

export default {
  name: "Home",
  components: {
    Nav,
    ScrollButton,
  },

  data() {
    return {
      isScrolling: false,
    };
  },

  methods: {
    checkForScroll() {
      if (window.scrollY > 400) {
        this.isScrolling = true;
      } else {
        this.isScrolling = false;
      }
    },
  },
  watch: {},

  mounted() {
    window.addEventListener("scroll", this.checkForScroll);
  },
  beforeUnmount() {
    window.removeEventListener("scroll", this.checkForScroll);
  },
};
</script>

<style lang="scss">
@import "./sass/base/_global.scss";
@import "./sass/base/_variables.scss";
</style>
